<div class="row home">
	<div class="col s12 center-align">
		<span class="main-icon fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x green-text"></i>
			<i class="fas fa-tags fa-stack-1x fa-inverse"></i>
		</span>

		<p class="left-align">Inserte su cupón para canjearlo. Los cupones son palabras (por ejemplo: 1MERCUPON) que al canjearlas le darán créditos. Encontrará cupones en la app o los recibirá por correo.</p>

		<div class="input-field">
			<input id="coupon" type="text"/>
			<label for="coupon">Insertar cupón</label>
		</div>
	</div>
</div>

<!-- BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="sendCoupon()"><i class="material-icons">send</i></a>
</div>
