<div class="row">
	<div class="col s12">
		<h1>Cupones</h1>
		<p>Inserte su cupón a continuación para canjearlo. Los cupones son palabras (por ejemplo: 1MERCUPON) que al canjearlas le darán créditos. Encontrará cupones usando la app, o los recibirá por correo.</p>

		<div class="input-field">
			<input id="coupon" type="text"/>
			<label for="coupon">Insertar cupón</label>
		</div>
	</div>
</div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="service.submit()"><i class="material-icons">send</i></a>
</div>