<h1>Cupones</h1>

<p>Inserte su c&uacute;n a continuaci&oacute;n para canjearlo. Los cupones son palabras (por ejemplo: 1MERCUPON) que al canjearlas le dar&aacute;n cr&eacute;ditos. Encontrar&aacute; cupones usando la app, o los recibir&eacute; por correo.</p>

<div class="row">
	<div class="input-field col s12 m8">
		<input id="coupon" type="text"/>
		<label for="coupon">Insertar cupon</label>
	</div>
	<div class="input-field col s12 m4">
		<a class="waves-effect waves-light btn fullscreen" href="#!" onclick="service.submit();">
			<i class="material-icons right">send</i>
			Canjear
		</a>
	</div>
</div>