<div class="col s12 center-align">
	<h1><%= header %></h1>

	<i class="large material-icons"><%= icon %></i>

	<p style="margin:30px 0px;"><%= text %></p>

	<a class="waves-effect waves-light btn fullscreen" href="#!" onclick="apretaste.send({'command':'CUPONES'});">
		Canjear Otro
	</a>
</div>
